
<h1 class="text-center my-4">WELLCOME TO THE TODOLIST APP</h1>

<div class="d-grid gap-4 col-6 mx-auto">
   <a class="btn btn-outline-primary" href="/login">Login</a> 
   <a class="btn btn-outline-success" href="/register">Signup</a>
</div>